* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url("https://source.unsplash.com/1100x900/?books");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
